.eventsMouseOverAndOut {
   width: 500px;
}

.leftOne {
   float: left; 
   width: 130px;
}

.centerOne {
   float: left; 
   width: 30px;
}

.rightOne {
   float: left; 
   width: 30px;
}

.clearLeft {
   clear: left;
}

.eventMouseMove {
   width: 550px;
   height: 150px;
   border:1px solid red;
}

.justLeft {
   float: left;
}

.validations {
   width: 180px;
}

.validation {
   float: left;
   width: 90px;
}
